.header {
  width: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  input {
    margin: 10px auto;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: aliceblue;
  span {
    color: #111517;
  }
}