.app {
  min-height: 100vh;
  &.theme--dark {
    background-color: $app-background-dark;
    color: $text-dark
  }
  
  &.theme--light {
    background-color: $app-background-light;
    color: $text-light
  }
}