@import '../../styles/variables.scss';

.header {
  &.light {
    background-color: $app-component-background-light;
    color: $text-light
  }

  &.dark {
    background-color: $app-component-background-dark;
    color: $text-dark
  }
}